.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.movieDetailsWrapper {
  margin-top: 15px;
}

.button {
  margin-bottom: 20px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 15 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.image {
  max-width: 450px;
}

.imageDescriptionWrapper {
  display: flex;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
}

.movieTitle {
  font-weight: 900;
  font-size: 25px;
  line-height: 1.34;
  color: black;
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px #b59a9a;
  align-self: center;
}

.genresList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}

.genresListItem:not(:last-child) {
  margin-right: 10px;
}

.additionalInfoList {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0;
}

.additionalInfoLink {
  color: black;
}

.additionalInfoListItem:not(:last-child) {
  margin-right: 30px;
}

.movieOverview {
  text-align: start;
}

.additionalInfoTitle {
  text-align: start;
}
